@import 'partials/bootstrap.scss';

@import 'partials/syntax.scss';

@font-face {
  font-family: 'Merriweather';
  src: local('Merriweather'), url('/fonts/Merriweather-Light.ttf') format('opentype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Rubik';
  src: local('Rubik'), url('/fonts/Rubik-Light.ttf') format('opentype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato'), url('/fonts/Lato-Regular.ttf') format('opentype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'BioRhyme';
  src: local('BioRhyme'), url('/fonts/BioRhyme-Regular.ttf') format('opentype');
  font-style: normal;
  font-weight: normal;
}

input, button {
    font-family: $font-family-sans-serif;
}


.btn-success {
    font-family: $font-family-sans-serif;
    margin-top: 2px;
    margin-bottom: 1px;

    box-shadow: 0 5px 2px rgba(0,0,0,0.3), 0 8px 25px rgba(0,0,0,0.5);

    &:hover {
        margin-top: 2px;
        margin-bottom: 1px;

        background: $blue;
    }

    &:active {
        margin-top: 8px;
        margin-bottom: 4px;

        box-shadow: 0 1px 8px rgba(0,0,0,0.1), 0 2px 25px rgba(0,0,0,0.2);
    }
}

.jumbotron.fluid {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding:12px 20px 12px 0px;
    height:100%;
    width:270px;
    position:fixed;
    left:0;
    top:0;
    background: $brand-primary;
    color:$body-bg;
    border-bottom: 1px solid white;
    display: block;
    padding: 1em;
    text-align: center;
}

.jumbotron {
 a, a:link {
   color: $brand-info;
 }
 a:hover {
   color: $body-bg;
 }
}
.container {
  max-width: 60em;
  @include make-container();
}
.row {
  @include make-row();
}
.content-main {
  @include make-col-ready();

  @media (max-width: 32em) {
    @include make-col(6);
  }
  @media (min-width: 32.1em) {
    @include make-col(8);
  }
}
.content-secondary {
  @include make-col-ready();

  @media (max-width: 32em) {
    @include make-col(6);
  }
  @media (min-width: 32.1em) {
    @include make-col(4);
  }
}

img {
 display: block;
 height: auto;
 max-width: 100%;;
}

.img-responsive {
  display: inline-block;
  height: auto;
  max-width: 100%;
}

.img-rounded {
  border-radius: 3px;
}

.img-thumbnail {
  display: inline-block;
  height: auto;
  max-width: 100%;
  padding: 4px;
  line-height: 1.428571429;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}

.img-circle {
    width:100%;
    height: auto;
    max-height:300px;
    border-radius:50%;
    display:block;
    background-position-y:25%;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;

    /*background-size: cover;*/
}

.img-logo {
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
}


body {
    background: $body-bg;
    font-family: 'Merriweather', georgia, serif;
    font-weight: 300;
    color:$black;
}

div#header {
    border-bottom: 2px solid black;
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
}

.footer {
    border-top: solid 2px black;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: center;
}

h1 {
    font-family: 'BioRhyme';
    font-style: italic;
    font-size: 40px;
    color: $brand-primary;
}

h2 {
    font-family: 'Lato';
    font-size: 40px;
    font-style: italic;
}

h3 {
    font-family: 'Lato';
    font-style: italic;
    font-size: 30px;
}


div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

@import 'partials/mailchimp.scss';