@import 'partials/bootstrap.scss';

@import 'partials/syntax.scss';

@font-face {
  font-family: 'Merriweather';
  src: local('Merriweather'), url('/fonts/Merriweather-Regular.ttf') format('opentype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Rubik';
  src: local('Rubik'), url('/fonts/Rubik-Light.ttf') format('opentype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato'), url('/fonts/Lato-Regular.ttf') format('opentype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'BioRhyme';
  src: local('BioRhyme'), url('/fonts/BioRhyme-Regular.ttf') format('opentype');
  font-style: normal;
  font-weight: normal;
}


.jumbotron.fluid {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding:12px 20px 12px 0px;
    height:100%;
    width:270px;
    position:fixed;
    left:0;
    top:0;
    background: $brand-primary;
    color:$white;
}


.jumbotron.fluid {
    border-bottom: 1px solid white;
    display: block;
    padding: 1em;
    text-align: center;
    width: 100%;
}

.jumbotron.fluid a {
    color: $white;
    font-family:'BioRhyme';
    font-style: italic;
    /*font-size: 40px;*/
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.jumbotron.fluid-nav {
    padding: 1em;
    line-height: 2em;
}

.jumbotron.fluid-nav a {
    font-family:'BioRhyme';
    display: block;
    color: $white;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
}

body {
    background: $white;
    font-family: 'Merriweather', georgia, serif;
    color:$black;
}

div#header {
    border-bottom: 2px solid black;
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
}

div#footer {
    border-top: solid 2px black;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: center;
}

h1 {
    font-family: 'BioRhyme';
    font-style: italic;
    font-size: 26px;
}

h2 {
    font-family: 'Lato';
    font-size: 30px;
}


div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

@import 'partials/mailchimp.scss';
