@import 'partials/bootstrap.scss';
@import 'partials/syntax.scss';
@import 'partials/headings.scss';
@import 'partials/buttons.scss';
@import 'partials/global-header.scss';
@import 'partials/global-footer.scss';
@import 'partials/home-page.scss';
@import 'partials/authors-page.scss';
@import 'partials/post.scss';
@import 'partials/mailchimp.scss';
@import 'partials/blog.scss';

/* Add a little spacing to the right of _very_ enthusiastic phrases,
 * because otherwise the italics abut the next word too closely. */
strong em, em strong { &:after { content: '\00a0'; } }

ul {
    /* Never show list bullets; we'll be replacing them in our own way. */
    list-style: none;

    li { padding-bottom: 0.5em; }

    /* In place of the standard bullets, we use a pseudo-element with a
     * background image that looks like a bullet. */
    li:before {
        content: '';
        display: inline-block;
        height: 1em;
        width: 1em;
        position: relative;
        background-image: url('/images/bullet.svg');
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: -1em;
        top: 0.2em;
        right: 0.2em;
    }
}

input, button { font-family: $font-family-sans-serif; }

hr { border-top: solid 1px $pink; }

.container {
    max-width: 60em;
    @include make-container();
}

.row { @include make-row(); }
