#authors-page {

    .authors {

        .info {
            color: $black;
            font-size: 14px;
            font-style: italic;
        }

        .logo {
            padding-top: 75px;
            padding-bottom: 75px;
            text-align: center;
        }

        img {
            display: block;
            height: auto;
            max-width: 100%;
        }

        .img-responsive {
            display: inline-block;
            height: auto;
            max-width: 100%;
        }

        .img-rounded {
            height: 100px;
            width: 100px;
            border-radius: 3px;
        }

        .img-thumbnail {
            display: inline-block;
            height: auto;
            max-width: 100%;
            padding: 4px;
            line-height: 1.428571429;
            background-color: $body-bg;
            border: 1px solid $brand-primary;
            border-radius: 4px;
            -webkit-transition: all 0.2s ease-in-out;
                    transition: all 0.2s ease-in-out;
        }

        .img-circle {
            width:100%;
            height: auto;
            max-height:300px;
            border-radius:50%;
            display:block;
            background-position-y: center;
            background-position-x: center;
            background-repeat: no-repeat;
        }

        .img-logo {
            height: 150px;
            width: 150px;
            border-radius: 3px;
            max-width: 100%;
            display: inline-block;
            vertical-align: middle;
        }

    }
}
