#authors-page {
    margin-bottom: 50px;

    .purple {
        height: 250px;
        margin-bottom: -230px;
        background-color: $brand-primary;
    }

    .authors {

        .mappend {
            padding-top: 50px;
            text-align: center;

            svg {
                height: 150px;
                width: 150px;
                border-radius: 3px;
                max-width: 100%;
                display: inline-block;
                vertical-align: middle;

                path {
                    fill: $pink;
                    stroke: $pink;
                }
            }
        }

        .author {
            .img {
                text-align: center;

                img {
                    width: 250px;
                    border: 2px solid $brand-primary;
                    border-radius: 50%;
                    background-position-y: center;
                    background-position-x: center;
                    background-repeat: no-repeat;
                }
            }

            .name {
                margin: 1em 0;
                text-align: center;
                color: $brand-primary;
                font-style: bold;
            }

            .bio p {
                font-family: $font-family-base;
                font-weight: $font-weight-bold;
            }

            .links {
                text-align: center;
                margin-top: 2em;
            }
        }

        hr {
            display: none;
        }
    }
}

@media(max-width: 992px) {

    #authors-page {
        margin-bottom: 40px;

        .purple {
            display: none;
        }

        .authors {
            margin-top: 40px;

            .mappend {
                display: none;
            }

            hr {
                display: block;
                margin: 40px 0;
            }
        }
    }
}
