#archive {
    padding: 4em 0 2em;
    font-family: 'Merriweather';
    font-weight: 400;
    font-size: 15px;
    color: $black;
    text-align: center;

    h1 {
        font-family: 'BioRhyme';
        font-size: 3em;
        color: $brand-primary;
        line-height: 2em;
        text-align: center;

    }
}