#archive {
    padding: 4em 0 2em;
    font-family: $font-family-base;
    font-weight: $font-weight-bold;
    font-size: 17px;
    text-align: left;

    h1 {
        font-family: BioRhyme;
        font-size: 2em;
        color: $brand-primary;
        line-height: 2em;
        text-align: center;
        font-style: normal;
        margin-bottom: 1em;
    }

    .date {
        white-space: nowrap;
    }

    .abstract {
        margin: 0.5em 0 0 1.5em;
        font-weight: 300;
        font-style: italic;
    }

    .info {
        margin: 0 2em 2em;
        font-family: $font-family-sans-serif;
        font-size: 1em;
        color: $black;
        opacity: 0.6;
    }

    img.smol {
        height: 2.5em;
        width: 3em;
        border-radius: 1em;
        max-width: 100%;
        display: inline-block;
        vertical-align: middle;
        margin-right: 3px;
        margin-left: 3px;
    }
}

@media (max-width: 992px) {

    #archive {

        h1 {
            font-size: 28px;
        }
    }
}

@media (max-width: 800px) {

    #archive {

        h1 {

            span {
                display: none;
            }
        }
    }
}
