.btn-success {
    font-family: $font-family-sans-serif;
    margin-top: 2px;
    margin-bottom: 1px;

    &:hover {
        margin-top: 2px;
        margin-bottom: 1px;
        background-color: rgba(77, 0, 77, 0.75);
    }

    &:active {
        margin-top: 8px;
        margin-bottom: 4px;
    }
}
