#global-header {
    background: $brand-primary;

    /* This prevents a sub-pixel gap that might otherwise appear on mobile
     * devices between the header and an abutting element of the same
     * background color.
     */
    margin-bottom: -1px;

    a {
        &, &:link {
            color: $brand-info;
        }
        &:hover {
            color: $body-bg;
        }
    }

    .logo {
        @include float-left;
        padding: 18px 0;

        img {
            height: 55px;
        }
    }

    .links {
        @include float-right;
        margin: 24px 0 0;
        padding: 0;
        font-family: BioRhyme;
        font-style: italic;
        font-size: 28px;

        li {
            display: inline-block;
            padding: 0 0 0 40px;
        }
    }

    @media (max-width: 450px) {
        .container {
            text-align: center;
        }

        .logo, .links {
            @include float-none;
        }

        .links li {
            padding: 0 20px;
        }
    }
}
