#global-header {
    background: $brand-primary;

    /* This prevents a sub-pixel gap that might otherwise appear on mobile
     * devices between the header and an abutting element of the same
     * background color.
     */
    margin-bottom: -1px;

    a, a:link {
        color: $brand-info;
    }

    a:hover {
        color: $body-bg;
    }

    .logo {
        @include float-left;
        padding: 18px 0;

        img.wide {
            height: 55px;
        }

        img.compact {
            display: none;
        }
    }

    .links {
        @include float-right;
        margin: 24px 0 0;
        padding: 0;
        font-family: BioRhyme;
        font-style: italic;
        font-size: 28px;

        li {
            display: inline-block;
            padding: 0 0 0 40px;
        }
    }
}

@media (max-width: 992px) {

    #global-header {

        .logo {

            img.wide {
                display: none;
            }

            img.compact {
                display: inline;
                height: 100px;
            }
        }
    }
}

@media (max-width: 450px) {

    #global-header {

        .container {
            text-align: center;
        }

        .logo, .links {
            @include float-none;
        }

        .logo {
            padding: 3em 0 1em;

            img.compact {
                height: 140px;
            }
        }

        .links li {
            padding: 0 20px;
        }
    }
}
