#global-header {
    background: $brand-primary;
    text-align: center;

    /* This prevents a sub-pixel gap that might otherwise appear on mobile
     * devices between the header and an abutting element of the same
     * background color.
     */
    margin-bottom: -1px;

    a, a:link { color: $brand-info; }

    a:hover { color: $body-bg; }

    .logo {
        padding: 3em 0 1em;

        @media (min-width: 450px) {
            @include float-left;
            padding: 18px 0;
        }

        img.wide {
            display: none;

            @media (min-width: 992px) {
                display: inline;
                height: 55px;
            }
        }

        img.compact {
            height: 140px;

            @media (min-width: 450px) { height: 100px; }
            @media (min-width: 992px) { display: none; }
        }
    }

    .links {
        margin: 24px 0 0;
        padding: 0;
        font-family: BioRhyme;
        font-style: italic;
        font-size: 28px;

        @media (min-width: 450px) { @include float-right; }

        li {
            display: inline-block;
            padding: 0 20px;

            @media (min-width: 450px) { padding: 0 0 0 40px; }
        }

        .twitter {
            display: none;

            @media (min-width: 450px) { display: inline-block; }
        }
    }
}
