h1 {
    font-family: 'BioRhyme';
    font-style: italic;
    font-size: 40px;
    color: $brand-primary;
}

h2 {
    font-family: $font-family-sans-serif;
    font-size: 30px;
    font-style: italic;
}

h3 {
    font-family: 'Lato';
    font-style: italic;
    font-size: 30px;
}
