#home-page {

    .intro {
        padding: 90px 0 40px;
        background: $brand-primary;
        color: $body-bg;

        h1 {
            color: $body-bg;
        }

        .lead {
            background: $brand-primary;
            color: $body-bg;
            font-family: $font-family-sans-serif;
            font-style: italic;
            font-size: 22px;
            font-weight: 300;
            margin-left: 6em;
            margin-top: 12px;
        }
    }
}
