#home-page {

    .intro {
        padding: 90px 0 0px;
        background: $brand-primary;
        color: $body-bg;

        h1 {
            color: $body-bg;
        }

        .lead {
            background: $brand-primary;
            color: $body-bg;
            font-family: $font-family-sans-serif;
            font-style: italic;
            font-size: 1.5em;
            font-weight: 300;
            margin-left: 6em;
            margin-top: 12px;
        }

        img {
            width: 250px;
            position: relative;
            top: -50px;
            right: -20px;
        }
    }

    .text {
        h2 {
            font-family: $font-family-sans-serif;
            color: $brand-primary;
            font-style: italic;
            font-weight: $font-weight-bold;
        }

        .body {
            margin-top: 1em;
        }

        em {
            font-family: $font-family-base;
            font-size: 1.25em;
            color: $brand-primary;
        }
    }
}

@media(max-width: 992px) {

    #home-page {

        .intro {

            .lead {
                margin-left: 2em;
            }
        }
    }
}

@media(max-width: 768px) {

    #home-page {

        .intro {

            .lead {
                margin-left: 0;
            }

            .img {
                text-align: center;
            }

            img {
                width: 120px;
                position: static;
                margin: 20px 0;
            }
        }
    }
}
