#mailing-list {
    clear: left;
    width: 100%;
    margin: 3em 0;

    form {
        text-align: center;
        padding: 10px 0;
    }

    input {
        box-sizing:border-box;
        display: inline-block;
        margin: 0;
        width: 350px;
        vertical-align: top;
    }

    label {
        display: block;
        font-size: 16px;
        padding-bottom: 10px;
        font-weight: bold;
    }

    /* positions button horizontally in line with input */
    .clear {
        display: inline-block;
    }

    .btn {
        box-sizing: border-box;
        display: inline-block;
        margin: 0;

        &:hover {
            cursor: pointer;
        }
    }

    @media (max-width: 768px) {
        input.email { width: 100%; margin-bottom: 5px; }
        .clear { display: block; width: 100% }
        .btn { width: 100%; margin: 0; }
    }
}
