table.sourceCode,
tr.sourceCode,
td.lineNumbers,
td.sourceCode,
table.sourceCode pre {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    border: none;
    background: $body-bg;
}

td.lineNumbers {
    border-right: 1px solid #C997C3;
    text-align: right;
    color: #C997C3;
    padding-right: 5px;
    padding-left: 5px;
}

td.sourceCode { padding-left: 5px; }

pre.sourceCode {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 20px;
    border-radius: 2px;
    border-right: 1px solid #C997C3;
    border-left: 1px solid #C997C3;
    border-top: 1px solid #C997C3;
    border-bottom: 1px solid #C997C3;
    color: $code-color;
    background: #FFF6EA;
    padding: 10px 20px;

    code.sourceCode {
        font: 15px/19px $font-family-monospace;

        span.kw { color: #444690; font-weight: bold; }
        span.dt { color: #7D457D; }
        span.dv { color: #C997C3; }
        span.bn { color: #C997C3; }
        span.fl { color: #C997C3; }
        span.ch { color: #C997C3; }
        span.st { color: #C997C3; }
        span.co { color: #62B4B1; font-style: italic; }
        span.ot { color: #7D457D; }
        span.al { color: #C997C3; font-weight: bold; }
        span.fu { color: #1F2041; }
        span.re { }
        span.er { color: #C997C3; font-weight: bold; }
    }
}
