<div id="archive">
    <div class="container">
        <h1>Blog :: Julie [Char] -> Chris [Char] -> BlogPost</h1>
        <h1>Julie Words<img class="smol" src="/images/heart-operator-block.svg">Chris Words</h1>
        <p class="info">We will occasionally use this space to provide updates about the book progress or other content that is relevant to this project or, more generally, to our goals of understanding, teaching, and documenting Haskell. Everything here is written by both of us, together. The <a href="/authors.html">author page</a> has links to our individual blogs.</p>
        <br><br><br>
        <ul>
        $for(posts)$
            <li>
                <p>
                <a href="$url$">$title$</a> - $date$
                </p>
                $if(abstract)$
                <p class="abstract">
                    $abstract$
                </p>
                $endif$
            </li>
        $endfor$
        </ul>
        <br><br><br>
    </div>
</div>
