<div id="archive">
    <div class="container">

        <h1>
          Blog ::
          <span>Julie [Char] -&gt; Chris [Char] -&gt;</span>
          [BlogPost]
        </h1>

        <div class="row">
            <div class="col-md-6">
                <p class="info">We will occasionally use this space to provide updates about the book progress or other content that is relevant to this project or, more generally, to our goals of understanding, teaching, and documenting Haskell. Everything here is written by both of us, together. The <a href="/authors.html">author page</a> has links to our individual blogs.</p>
            </div>
            <div class="col-md-6">
                <ul>
                $for(posts)$
                    <li>
                        <a href="$url$">$title$</a> -
                        <span class="date">$date$</span>
                        $if(abstract)$
                        <p class="abstract">
                            $abstract$
                        </p>
                        $endif$
                    </li>
                $endfor$
                </ul>
            </div>
        </div>
    </div>
</div>
