<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Joy of Haskell - $title$</title>
        <link rel="stylesheet" href="/css/default.css" />
        <link rel="shortcut icon" href="/images/favicon.ico" />
        <meta name="theme-color" content="#4d004d">
        $partial("templates/google-analytics.html")$
    </head>
    <body>
        <div id="header">
            <div id="logo">
                <a href="/">The Joy of Haskell</a>
            </div>
            <div id="navigation">
                <a href="/">Home</a>
                <a href="/about.html">About</a>
                <a href="/contact.html">Contact</a>
            </div>
        </div>

        <div id="content">
            <h1>$title$</h1>
            $body$
        </div>

        <div id="footer">
            <a href="mailto:hello@joyofhaskell.com">hello@joyofhaskell.com</a>
            &middot;
            <a href="https://twitter.com/joyofhaskell">@joyofhaskell</a>
        </div>
    </body>
</html>
