<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <p class="text-center">
                    <p>&copy; 2017 The Joy of Haskell &middot; <a href="/pages/privacy.html">Privacy</a> &middot; <a href="/pages/tos.html">Terms</a></p>
                </p>
            </div>
            <div class="col-sm-4 col-md-4">
                <p><a href="#">
                        <img class="img-rounded" src="/images/heart-operator-block.svg" alt="">
                </a></p>
            </div>
            <!-- <div class="col-sm-1 col-md-3">
            </div> -->
            <div class="col-sm-4 col-md-4">
                <p class="text-center">
                    <p>Contact:
                    <a href="mailto:hello@joyofhaskell.com">hello@joyofhaskell.com</a>
                        &middot;
                    <a href="https://twitter.com/joyofhaskell">@joyofhaskell</a></p>
                </p>
            </div>
        </div>
    </div>
</footer>