<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-md-3">
                <div class="logo">
                    <a href="/">
                        <img src="/images/logo.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="col-md-6">
            </div>
            <div class="col-sm-5 col-md-3 text-right">
                <div class="logo">
                    <br>
                    <h1 class="large">
                        <a href="/archive.html">Blog</a>
                        <br>
                        <br>
                        <a href="/pages/authors.html">Authors</a>
                    </h1>    
                </div>
            </div>
        </div>
    </div>
</div>
