<!-- This goes into the head of every page. -->
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

$if(title)$
<title>$title$</title>
$else$
<title>The Joy of Haskell</title>
$endif$

<link rel="stylesheet" href="/css/default.css" />
<link rel="shortcut icon" href="/images/favicon.ico" />
<meta name="theme-color" content="#4d004d">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=BioRhyme|Lato|Merriweather:300,400|Space+Mono">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
$partial("templates/twitter.html")$
$partial("templates/google-analytics.html")$

<meta name="description" content="A manual for happy Haskelling."/>
<meta content="book" property="og:type"/>
<meta property="og:url" content="https://joyofhaskell.com/"/>
<meta property="og:title" content="The Joy of Haskell"/>
<meta property="og:description" content="A guide book to writing excellent Haskell."/>
<!--  will need the proper cover image at some point -->
<meta name="cover" property="og:image" content="https://joyofhaskell.com/images/heart-operator.png"/>
<meta name="author" content="Julie Moronuki, Christopher Martin"/>
<meta name="book_title" content="The Joy of Haskell"/>
<meta name="mobileurl" content="https://joyofhaskell.com/"/>
<!-- in case we ever have a subtitle
<meta name="subtitle" content=""/> -->
<meta name="author" content="Christopher Martin, Julie Moronuki"/>
<meta name="publisher" content="Moronuki & Martin"/>
<meta name="graphic_large" content="https://joyofhaskell.com/images/heart-operator.png"/>
<meta name="graphic_medium" content="https://joyofhaskell.com/images/heart-operator.png"/>
<meta name="graphic" content="https://joyofhaskell.com/images/heart-operator.png"/>
<meta name="target" content="The Joy of Haskell"/>
<meta name="keywords" content="Haskell programming, programming, functional programming, functional languages, haskell, concurrent, languages, Christopher Martin, Julie Moronuki"/>
<meta name="date" content="February 25, 2017"/>
<meta name="Category" content="Books"/>
<!-- <meta name="SubCategory" content="Format~Format~Format~Publisher"/>
<meta name="bookeditionsorder" content="Early Access"/> -->
<meta name="book.tags" content="haskell"/>
<meta name="object.type" content="book"/>
<meta name="book.title" content="The Joy of Haskell"/>
<meta name="book.author" content="Julie Moronuki, Christopher Martin"/>
<meta name="book.link" content="https://joyofhaskell.com/"/>
<meta name="book.image" content="https://joyofhaskell.com/images/heart-operator.png"/>
<meta name="book.year" content="2017"/>
<meta name="language_name" content="English"/>
<meta name="native_language_name" content="English"/>
