<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-md-3">
                <div class="logo">
                    <a href="index.html">
                        <img src="/images/logo.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="col-md-6">
            </div>
            <div class="col-sm-5 col-md-3 text-right">
                <div class="logo">
                    <br>
                    <h1 class="large">
                        <a href="archive.html">Blog</a>
                        <br>
                        <br>
                        <a href="/pages/authors.html">Authors</a>
                    </h1>    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- todo for reasons as yet undetermined when you click on the logo, it tries to go to pages/index.html instead of just index.html. i guess i could move index.html to be in the pages directory but it seems like there has got to be some fixable explanation for this -->