<!-- This goes into the head of every page. -->
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/default.css" />
<link rel="shortcut icon" href="/images/favicon.ico" />
<meta name="theme-color" content="#4d004d">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=BioRhyme|Lato|Merriweather:300,400|Space+Mono">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
$partial("templates/twitter.html")$
$partial("templates/google-analytics.html")$
