<!-- This goes into the head of every page. -->
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/default.css" />
<link rel="shortcut icon" href="/images/favicon.ico" />
<meta name="theme-color" content="#4d004d">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=BioRhyme|Lato|Merriweather:300,400|Space+Mono">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<meta name="twitter:site" content="joyofhaskell"/>

$if(twitter-url)$
<meta name="twitter:url" content="https://joyofhaskell.com$twitter-url$"/>
$else$
<meta name="twitter:url" content="https://joyofhaskell.com$url$"/>
$endif$

$if(twitter-card)$
<meta name="twitter:card" content="$twitter-card$"/>
$else$
<meta name="twitter:card" content="summary"/>
$endif$

$if(twitter-title)$
<meta name="twitter:title" content="$twitter-title$"/>
$else$
<meta name="twitter:title" content="The Joy of Haskell"/>
$endif$

$if(twitter-description)$
<meta name="twitter:description" content="$twitter-description$"/>
$else$
<meta name="twitter:description" content="A guide book to happy Haskelling."/>
$endif$

$if(twitter-image)$
<meta name="twitter:image" content="https://joyofhaskell.com$twitter-image$"/>
$else$
<meta name="twitter:image" content="https://joyofhaskell.com/images/logo.svg"/>
$endif$

$partial("templates/google-analytics.html")$
