<footer id="global-footer">
    <div class="container clearfix">
        <div class="relative">
            <div class="contact">
                <a href="mailto:hello@joyofhaskell.com">hello@joyofhaskell.com
                <i class="fa fa-envelope" aria-hidden="true"></i></a>
                <br>
                <a href="https://twitter.com/joyofhaskell">@joyofhaskell
                <i class="fa fa-twitter" aria-hidden="true"></i></a>
            </div>
            <div class="copyright">
                &copy; 2017 Moronuki &amp; Martin
            </div>
            <div class="img clearfix">
                <a href="/">
                    <img class="img-rounded" src="/images/heart-operator-block.svg" alt="">
                </a>
            </div>
        </div>
    </div>
</footer>
