<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-md-3">
                <div class="logo">
                    <a href="index.html">
                        <img src="/images/logo.svg" alt="">
                    </a>
                </div>
            </div>
            <!-- todo these goddamn words still aren't in teh right place wtf -->
                <div class="col-sm-7 col-md-9 text-right">
                <h1 class="large">
                  <a href="archive.html">Blog</a>

                  &middot <a href="/pages/authors.html">Authors</a>
                </h1>    
            </div>
        </div>
    </div>
</div>