<div class="jumbotron jumbotron-fluid">
  <div class="container">
        <div class="row">
            <div class="col-sm-5 col-md-3">
                <div class="logo">
                    <a href="index.html">
                        <img src="/images/avatar.png" alt="">
                    </a>
                </div>
            </div>
            <div class="col-sm-7 col-md-9 text-right">
                <br>
                  <h1 class="large">
                    <ul class="nav" .justify-content-end>
                      <li class="nav-item">
                        <a class="nav-link" href="/pages/about.html">About</a>
                      </li>
                      <li class="nav-item">
                        . <a class="nav-link" href="archive.html">Blog</a>
                      </li>
                      <li class="nav-item">
                        . <a class="nav-link" href="/pages/contact.html">Contact</a>
                      </li>
                      <li class="nav-item">
                        . <a class="nav-link" href="/pages/authors.html">Authors</a>
                      </li>
                    </ul>
                  </h1>             
                </br>
            </div>

            <div class="col-sm-12">
                <br>
                <br>
            </div>
        </div>
    </div>
</div>

